.home-page {
    max-width: 1036px;
    margin: 0 auto;
}

.home-page h1 {
    text-align: center;
    font-size: 3em;
}

.project-intro {
    text-align: center;
    font-size: 2em;
}

.tools-block {
    display: flex;
    justify-content: space-around;
    padding: 0 150px;
}
